*{
  box-sizing: border-box;
}
html{
  background-color: black;
  height: 100%;
}
/*body*/

body{
  height: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: 'Millard Titulo';
}

/* header */
header{
  background-color: #ffb400;
  overflow: hidden;
  border-radius: 0 0 5% 5%;
}

/* Header menu */
header div.menu{
  display: flex;
  justify-content: space-between;
  padding:0 5%;
  margin-bottom: 15px;
}
header nav ul{
  display: flex;
}
nav ul li{
  margin-left: 35px;
  list-style: none;
  font-family: "Millard Escritos";
}
header nav ul li.home{
  font-family: 'Millard Titulo';
}
a{
  text-decoration: none;
  color:black;
}
nav.end ul li a:hover{
  text-decoration: underline;
}

/* Header  article and aside */
div.header{
  display: flex;
  justify-content: space-evenly;
  align-items:center;
  margin : 0 82px 40px 82px;
}
header p{
  letter-spacing: 1px;
  font-size: 35px;
  text-align: center;
}
div.header article{
  max-width: 40%;
  margin-right: 100px;
  padding-left: 70px;
}
div.header aside{
  max-width: 60%;
  flex-basis: 50%;
}

/* Main */
main{
  overflow: hidden;
  padding: 0 0 0 0;
  background-color: black;
  color:white;  
  flex: 1 1 auto;
}

h1{
  text-align: center;  
  font-size: 50px;
}
/* Capitulos */
div.capitulos{
  display: flex;
  justify-content: space-between;
  margin:0px;
  align-items: center;
}
main div.capitulos article{
  max-width: 45%;
  flex: 1 45%;
}
main div.capitulos aside{
  padding-top:5% ;
  max-width: 55%;
  flex:2 55%;
  color: black;
}
div.pistas{
  padding-top:2% ;
}
/* Posts */
aside.tracks{
  margin-left: 100px;
  padding-top:5% ;
  max-width: 55%;
  flex:2 55%;
  color: black;
}

div.post{
  display: flex;
  margin-bottom:50px;
  justify-content: space-around;
}
div.boton div.mostrartodo{
    display: flex;
    justify-content: center;
    max-width: 80%;
}
/* table */
article.table{
  max-width: 45%;
  margin:80px 50px 0 0;
}
table{
  color: white; 
  border: 2px solid white;
  margin-bottom: 50px;
  border-radius: 10px;
}
th.titulo{
  border-bottom:2px solid white ;
}

.days th:hover,a:hover{
  background-color:#ffb400;
  border-radius: 5px;
  color:black;
}
tr a{
  color: white;
}

/* Fielset */

form{
  margin-top: 100px;
}
form div.flexfieldset{
  display: flex;
  justify-content: space-around;
}

form div{
  display: flex;
  align-items: center;
}
fieldset{
  max-width: 500px;
  border-radius: 10px;
}

form div label{
  min-width: 150px;
  padding-bottom: 18px;
  margin-left: 2px;
}
form div input{
  padding: 5px;
  margin-bottom: 15px;
  width: 300px;
}
div.edad{
  display: flex;
  justify-content: space-around;
  margin-top: 130px ;
}
div.edad fieldset {
  text-align: center;
}
button{
  background-color: #ffb400;
  border-radius: 5px;
  border-style: hidden;
  margin-top: 5px;
  padding: 10px;
  font-family: "Millard Escritos";
}
/* Botones */
div.mostrartodo{
  margin-top: 60px;
  text-align: center;
  font-size: 25px
}
div.mostrartodo a{
  border: 2px solid white;
  text-decoration: none;
  color:white;
  background-color: black;
  border-radius: 5px;
  padding: 10px;
}
div.mostrartodo a:hover{
  color: black;
  background-color:#ffb400;
}

/* Sobre el */
div.sobreel{
  display: flex;
  margin:4% 10% 4% 4%;
  justify-content: space-between;
  text-align: center;
}
div.sobreel aside{
  max-width: 60%;
}
div.sobreel aside img{
  max-width: 600px;
}
div.sobreel article {
  max-width: 40%;
  font-size: 30px;
}

/* Footer */
div.mainfooter {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  }

footer{
  background-color: #ffb400;
  overflow: hidden;
  font-family: "Millard Escritos";
  border-radius: 15% 15% 0 0;
  flex: 0;
}

footer img{
  max-width: 30px;
}

footer div.total{
  display: flex;
  justify-content:space-between;
  margin-right: 10%;
}
footer div nav ul{
  display: flex;
  justify-content: center;
}
h4{
  padding-left:60px ;
  text-align: center;
}

/*Fuentes*/
@font-face{
  font-family: 'Millard Titulo';
  src: url('fonts/millar1.otf');
}

@font-face{
  font-family: 'Millard Escritos';
  src: url('fonts/millar2.otf');
}
