/*body*/

body{
  margin: 0 auto;
  padding: 0;
}
header{
  background-color: #ffb400;
  overflow: hidden;
}
main{
  background-color: black;
  overflow: hidden;
}
div.header{
  display: flex;
  justify-content: space-evenly;
  align-items:center;
}

header img{
  max-width: 600px;
  margin-bottom: 25px;
  margin-top: 50px;

}
aside img{
  max-width: 700px;
}
aside.fotoel{
  text-align: right;
}
article.sobreel{
  color: white;
}
header p{
  font-family: 'Millard Titulo';
  max-width: 500px;
  letter-spacing: 1px;
  font-size: 35px;
}
header div.menu{
  display: flex;
}
header nav.start{
  flex: 8;
  margin-left: 50px;
}
header nav.end{
  justify-content: flex-end;
  margin-right: 85px;
}


header nav ul{
  display: flex;

}
header nav ul li{
  margin-left: 35px;
  list-style: none;
  font-family: "Millard Escritos";
}
header nav ul li.home{
  font-family: 'Millard Titulo';
}

header nav ul li a{
  text-decoration: none;
  color:black;
}

footer{
  background-color: #ffb400;
  overflow: hidden;
}
/*Fuentes*/
@font-face{
  font-family: 'Millard Titulo';
  src: url('fonts/millar1.otf');
}

@font-face{
  font-family: 'Millard Escritos';
  src: url('fonts/millar2.otf');
}