/*body*/

body{
  margin: 0;
  padding: 0;
}

/*Fuentes*/
@font-face{
  font-family: 'Millard Titulo';
  src: url('fonts/millar1.otf');
}

@font-face{
  font-family: 'Millard Escritos';
  src: url('fonts/millar2.otf');
}